<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MED | Clientes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <form action="/mncli/<%= data.IDClie %>" method="post"></form>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h5 class="text-light"><% if(login) { %>
          <%= Clinomb  %>        
          <% } %></h5>
        <div class="mt-4 text-center d-grid gap-2">
          <a class="btn btn-danger  btn-lg bi bi-box-arrow-in-left"href="/sessioncli">Salir</a>
        </div>
      </div> 

     <h6><nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bi bi-house-door-fill"></i> <span>Inicio</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bi bi-person-fill"></i> <span>Perfil</span></a></li>
        </ul>
      </nav></h6> <!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>MED</h1>
      <p>Bienvenido a MED <span class="typed" data-typed-items="Consultas, Especialistas, Examenes, Laboratorios"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <P><label>


        </label></P>

        <div class="section-title">
          <h2>Informacion</h2>
          <a class="btn btn-outline-success btn-2xl bi bi-pencil-square" href="/upcli/<%= IDClie %>">   Actualizar Informacion</a>
        </div>
        <div class="row">
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3><%= Clinomb %></h3>
            <p class="fst-italic">
             
            
            </p>
            <div class="row">
              <div class="col-lg-6">
                <% if (data) { %>
                <% for (var i = 0; i < data.length; i++) { %>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Fecha De Nacimiento:</strong> <span><%= data[i].fecnaclie %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Direccion:</strong> <span><%= data[i].cliadress %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Celular:</strong> <span><%= data[i].Clinumb %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span><%= data[i].cliciudad %></span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span><%= data[i].cliedad %> años</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Profecion:</strong> <span><%= data[i].cliprofe %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong> <span><%= data[i].username %></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Estatus:</strong> <span><%= data[i].clistatus %></span></li>
                </ul>
                <% } %>
                <% } %>
              </div>
            </div>
            <p>
        
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Historial</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <a class="btn btn-outline-info btn-lg bi bi-clipboard-plus-fill" href="/docmed/<%= IDClie %>">   Medicos Generales</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <a class="btn btn-outline-warning btn-lg bi bi-clipboard2-pulse-fill" href="/especialist">   Medicos Especialistas</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <a class="btn btn-outline-dark btn-lg bi bi-heart-pulse-fill" href="#">   Examenes</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <a class="btn btn-outline-danger btn-lg bi bi bi-headset" href="#">   Emergencias</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

   

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
   
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
    
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
     
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
    
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
    
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MED</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="">Alex García</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>