<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Principal</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1><font color="white">MED</font></h1></a>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

              <li class="nav-item">
                <a class="nav-link"><font color="white"></font></a>
              </li>
              

              <li class="nav-item">
                    
                <a href="/ref" class="btn btn-outline-dark">Referidos</a>
               
            </li>

            <li class="nav-item">
              <a class="nav-link"><font color="white"></font></a>
            </li>

            <li class="nav-item">
                    
              <a href="/generali" class="btn btn-outline-dark">M. Generales</a>
             
          </li>

          <li class="nav-item">
            <a class="nav-link"><font color="white"></font></a>
          </li>

          <li class="nav-item">
                    
            <a href="/especialist" class="btn btn-outline-dark">M. Especialistas</a>
           
        </li>
                <li class="nav-item">
                  <a class="nav-link"><font color="white"></font></a>
                </li>

                <li class="nav-item">
                  <a href="/orderpay" class="btn btn-outline-dark">Consultas Generales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"><font color="white"></font></a>
                </li>                 
                <li class="nav-item">
                  <a class="nav-link"><font color="white"></font></a>
                </li>     
                  
                <li class="nav-item">
                  <a href="/orderpayesp" class="btn btn-outline-dark">Consultas Especialistas</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="btn btn-dark"><font color="white">

                      <% if(login) { %>
                        <h7>Bienvenido: <%= User  %></h7>  
                                  
                        <% } %>


                    </font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li> 


                  
                  
                  <li class="nav-item">
                    <a class="btn btn-danger"href="/logr"><i class="fa-solid fa-power-off fa-2xl"></i></a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/prods" method="get">
                            <label class="formkit-label" for="input_0"><strong><h5>Registrar Paciente</h5></strong></label>
                            <p>
                               <a href="/cprod" class="btn btn-outline-success"><i class="fa-solid fa-hospital-user fa-2xl"></i></a>
                       </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">
                        <form action="/prods" method="get">
                            <b><label class="formkit-label" for="input_0"><h5>Pacientes Activos</h5></label></b>
                             <p>
                                <table id = "pacientes" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr class="table-info">
                                            <th>
                                                No. Paciente
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                              Doctor
                                          </th>
                                            <th>
                                                Edad
                                            </th>

                                            <th>
                                                Diabetico
                                            </th>
                                            <th>
                                                Presion
                                            </th>

                                            <th>
                                                Hipertenso
                                            </th>

                                            <th>
                                                Tipo De Sangre
                                            </th>
                                            
                               
                                            <th>
                                                Detalles Paciente
                                            </th>

                                            <th>
                                                Consulta General
                                            </th>
                                            <th>
                                                Consulta Especialista
                                            </th>

                                

                                            
                                            
                                    </thead>
                        </p>

                        <tbody> 
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                            
                                    <td><%= data[i].IDPa %></td>
                                    <td><%= data[i].Noclie %></td>
                                    <td><%= data[i].Nuser %></td>
                                    <td><%= data[i].Cliedad %></td>
                                    <td><%= data[i].clidia %></td>
                                    <td><%= data[i].clipre %></td>
                                    <td><%= data[i].clihipe %></td>
                                    <td><%= data[i].clitipsa %></td>
                                    <td><%= data[i].cliotr %></td>

                                    <td>  
                                        <p><a href="/edtprod/<%= data[i].IDPa %>" class="btn btn-outline-danger"><i class="fa-solid fa-suitcase-medical fa-2xl"></i></a>
                                        </p>      
                                    </td>
                                   
                                    <td>  
                                      <p><a href="/conesp/<%= data[i].IDPa %>" class="btn btn-outline-dark"><i class="fa-solid fa-user-doctor fa-2xl"></i></i></a>
                                      </p>      
                                  </td>

                                 

                                    

                                </tr>
                                <% } %>
                                <% } %>
                                    </tbody>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>


<script>
var table = new DataTable('#pacientes', {
    pageLength: 5,
    lengthMenu: [[5, 10, 20], [5, 10, 20]],
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
    },
})
</script>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

  </body>
</html>