<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Usuarios</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1><font color="white">MED</font></h1></a>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
        
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
        
                      
    
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
    
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"><font color="white"></font></a>
                    </li>
                      
                      
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="btn btn-dark"><font color="white">
    
                          <% if(login) { %>
                            <h7>Bienvenido: <%= User  %></h7>  
                                      
                            <% } %>
    
    
                        </font></a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link"><font color="white"></font></a>
                      </li> 
    
    
                      
                      
                      <li class="nav-item">
                        <a class="btn btn-danger"href="/logadmin"><i class="fa-solid fa-power-off fa-2xl"></i></a>
                      </li>

                <form action="/menadmin/<%= User %>" method="get">
                </form>
            

            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/users" method="get">

                            <label class="formkit-label" for="input_0"><strong><h5>Mantenimiento Usuarios</h5></strong></label>
                             <p>
                                <a href="/nuser" class="btn btn-outline-success"><i class="fa-solid fa-user-plus fa-2xl"></i></a>
                       
                             </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">

                        <form action="/users" method="get">
                            <b><label class="formkit-label" for="input_0"><h5>Usuarios Activos</h5></label></b>
                             <p>
                                <table class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            
                                            <th>
                                                Codigo De Empleado
                                            </th>
                                            <th>
                                               Nombre De Empleado
                                            </th>

                                            <th>
                                                Usuario
                                            </th>
                                            <th>
                                                DPI
                                            </th>
                                            
                                            <th>
                                                Rol
                                            </th>
                                            <th>
                                                Fecha De Ingreso
                                            </th>
                                            
                                            <th>
                                                Actualizar
                                            </th>
                                        </tr>
                                    </thead>
                        </p>

                        <tbody> 
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                            
                                    
                                    <td><%= data[i].ID %></td>
                                    <td><%= data[i].Nuser %></td>
                                    <td><%= data[i].User %></td>
                                    <td><%= data[i].DPI %></td>
                                    <td><%= data[i].Rol %></td>
                                    <td><%= data[i].Fecingre %></td>
                              
                                    <td>  
                                        <a href="/edtuser/<%= data[i].ID %>" class="btn btn-outline-info"><i class="fa-solid fa-user-pen fa-2xl"></i></a>
                                        
                               
                                    </td>
                                    
                                </tr>
                                <% } %>
                                <% } %>
                                    </tbody>
                        </form>
  </body>
</html>