<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vpay</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>

  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user"><h1><font color="white">VPAY</font></h1></a>
        </div>
    </nav>

    <div class="container mt-5">
        
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                <form action="/edtuser/<%=data.Empfun%>" method="post">

            
            <div class="form-group">
                <label class="formkit-label" for="input_0">Codigo De Usuario</label>
                <input type="text" name="Empfun" value="<%= data.Empfun%>" disabled= "disabled"  class="form-control">
        
            </div>
            <div class="form-group">
                <label class="formkit-label" for="input_0">Usuario</label>
                <input type="text" name="Empusu" value="<%= data.Empusu%>" disabled= "disabled" class="form-control">
        
            </div>
           
            <div class="form-group">
                <label class="formkit-label" for="input_0">Nombre Empleado</label>
                <input type="text" name="Nusu" value="<%= data.Nusu%>" disabled= "disabled" class="form-control">
        
            </div>
            
            <div class="form-group">
                <label class="formkit-label" for="input_0">Sucursal</label>
                <input type="text" name="Sucu" value="<%= data.Sucu%>"  class="form-control">
        
            </div>

            <p> <div class="formkit-outer" data-type="select">
                <div class="formkit-wrapper">
                  <label class="formkit-label" for="input_0">Tipo De Usuario</label>
                  <div class="formkit-inner">
                    <select class="formkit-input" id="input_0" name="Rol">
                      <option class="formkit-option" value=""></option>
                      <option class="formkit-option" value="GR">GR</option>
                      <option class="formkit-option" value="AS">AS</option>
                      <option class="formkit-option" value="AD">AD</option>
                    </select>
                </p>

            <div class="form-group">
                <label class="formkit-label" for="input_0">Password</label>
                <input type="text" name="Empass" value=""  class="form-control">
        
            </div>
            <button type="submit" class="btn btn-success">
                Guardar Cambios
            </button>
        </form>
                </div>
            </div>
        </div>
    </div>
    </div>
  </body>
</html>