<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Principal</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- Vendor CSS Files -->
   <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
   <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
   <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
 
   </head>
   <body>
    <form action="/menadmin/<%= User %>" method="get">
   <!-- ======= Mobile nav toggle button ======= -->
   <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
 
   <!-- ======= Header ======= -->
   <header id="header">
    <div class="d-flex flex-column">
 
      <div class="profile">
        <img src="/assets/img/<%= Nuser %>.jpg" alt="" class="img-fluid rounded-circle">
        <h5 class="text-light"><% if(login) { %>
          <%= Nuser  %>        
          <% } %></h5>
        <div class="mt-4 text-center d-grid gap-2">
          <a class="btn btn-danger  btn-lg bi bi-box-arrow-in-left"href="/">Salir</a>
        </div>
      </div> 
 
      <h6><nav id="navbar" class="nav-menu navbar">
         <ul>
           <li><a href="#hero" class="nav-link scrollto active"><i class="bi bi-house-door-fill"></i> <span>Inicio</span></a></li>
           <li><a href="#about" class="nav-link scrollto"><i class="bi bi-person-fill"></i> <span>Soportes</span></a></li>
           <li><a href="#facts" class="nav-link scrollto"><i class="bi bi-credit-card-2-front-fill"></i> <span>Reportes</span></a></li>
         </ul>
       </nav></h6> <!-- .nav-menu -->
     </div>
   </header><!-- End Header -->
 
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
     <div class="hero-container" data-aos="fade-in">
       <h1>MED</h1>
       <p>Bienvenido a MED <span class="typed" data-typed-items="Consultas, Especialistas, Examenes, Laboratorios"></span></p>
     </div>
   </section><!-- End Hero -->
 
   <main id="main">
 
     <!-- ======= About Section ======= -->
     <section id="about" class="about">
       <div class="container">
 
         <div class="col-md-15" data-aos="fade-left">
         <div class="section-title">
           <h2>Soportes</h2>
           <a class="btn btn-outline-success  btn-lg bi bi-person-plus-fill" href="/nuser">   Registrar Usuario</a>
           &nbsp;&nbsp;
           <a class="btn btn-outline-danger btn-lg bi bi-bag-plus-fill" href="/invprod">   Inventario Productos</a>
           &nbsp;&nbsp;
           <a class="btn btn-outline-warning btn-lg bi bi-bookmark-plus-fill" href="/invlab">   Laboratorios Disponibles</a>
           &nbsp;&nbsp;
           <a class="btn btn-outline-dark btn-lg bi bi-binoculars-fill" href="/viewconsul">   Ver Consultas</a>
         
         </div> 
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">
                      <b><label class="formkit-label" for="input_0"><h5>Usuarios Activos</h5></label></b>
                      <p>
                        <table id = "pacientes" class="table table-bordered table-hover text-center">
                          <thead>
                              <tr class="table-dark">
                                     
                                     <th class="text-center">
                                         Codigo De Empleado
                                     </th>
                                     <th class="text-center">
                                        Nombre De Empleado
                                     </th>

                                     <th class="text-center">
                                         Usuario
                                     </th>
                                     <th class="text-center">
                                         DPI
                                     </th>
                                     
                                     <th class="text-center">
                                         Rol
                                     </th>
                                     <th class="text-center">
                                         Fecha De Ingreso
                                     </th>
                                     
                                     <th class="text-center">
                                         Actualizar
                                     </th>
                                 </tr>
                             </thead>
                 </p>

                 <tbody> 
                     <% if (data) { %>
                         <% for (var i = 0; i < data.length; i++) { %>
                         <tr>
                     
                             
                             <td><%= data[i].ID %></td>
                             <td><%= data[i].Nuser %></td>
                             <td><%= data[i].User %></td>
                             <td><%= data[i].DPI %></td>
                             <td><%= data[i].Rol %></td>
                             <td><%= data[i].Fecingre %></td>
                       
                             <td>  
                                 <a href="/edtuser/<%= data[i].ID %>" class="btn btn-outline-info"><i class="fa-solid fa-user-pen fa-2xl"></i></a>
                                 
                        
                             </td>
                             
                         </tr>
                         <% } %>
                         <% } %>
                             </tbody>
                        </form>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    
        <P><label>
    
    
        </label></P>
        <P><label>
    
    
        </label></P>
        <P><label>
    
    
        </label></P>
        <P><label>
    
    
        </label></P>
        <P><label>
    
    
        </label></P>
        
    
        </section><!-- End About Section -->
    
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">

          <section id="facts" class="facts">
            <div class="container">
              <P><label>
              </label></P>
            <div class="col-md-15" data-aos="fade-left">
              <div class="section-title">
                <h2>Reportes</h2>
                <P><label>
                </label></P>
               <a class="btn btn-outline-info btn-lg bi bi-bag-plus-fill" href="/viewreprod">   Productos</a>
               &nbsp;&nbsp;
               <a class="btn btn-outline-dark btn-lg bi bi-binoculars-fill" href="/viewreport">   Consultas</a>
               &nbsp;&nbsp;
               <a class="btn btn-outline-danger btn-lg bi bi-file-earmark-person-fill" href="/viewreppacien">   Pacientes</a>
                &nbsp;&nbsp;
                <a class="btn btn-outline-success btn-lg bi bi-cash" href="/viewvent">   Ventas</a>
                &nbsp;&nbsp;
              </div> 
            </div> 
            <pre>
      
        </section><!-- End Facts Section -->
    
       <!-- ======= Services Section ======= -->
        <section id="services" class="services">
         
        </section><!-- End Services Section -->
    
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
        
        </section><!-- End Testimonials Section -->
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
        
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>MED</span></strong>
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
            Designed by <a href="">Alex García</a>
          </div>
        </div>
      </footer><!-- End  Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="/assets/vendor/aos/aos.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/assets/vendor/typed.js/typed.umd.js"></script>
      <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="/assets/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="/assets/js/main.js"></script>
    
      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
      
      <script>
        var table = new DataTable('#pacientes', {
            pageLength: 5,
            lengthMenu: [[5, 10, 20], [5, 10, 20]],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
            },
        })
        </script>
        
        <script async
          src="https://js.stripe.com/v3/buy-button.js">
        </script>
    
      </body>
    </html>
