<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Principal</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1><font color="white">MED</font></h1></a>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

               

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  
    
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    
                    <a href="/logdresp" class="btn btn-outline-dark">Especialista</a>
                   
                </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="btn btn-dark"><font color="white">

                      <% if(login) { %>
                        <h7>Bienvenido: Dr. <%= User  %></h7>  
                                  
                        <% } %>


                    </font></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li> 


                  
                  
                  <li class="nav-item">
                    <a class="btn btn-danger"href="/logdr"><i class="fa-solid fa-power-off fa-2xl"></i></a>
                  </li>

                  
             

            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
  
                        <form action="/mendr/<%= User %>" method="get">
                            <label class="formkit-label" for="input_0"><strong><h5></h5></strong></label>
                            <p>

                                <table  class="table table-bordered table-hover text-center">
                                    <thead>
 
                                        <th>
                                            <h5>Pacientes</h5>
                                        </th>

                                        <th>
                                            <h5>Horarios</h5>
                                        </th>

                                        <th>
                                          <h5>MED Mobile</h5>
                                      </th>

                                    </thead>
                                


                                <tbody>

                                    <td>
                               <a href="/cprod" class="btn btn-outline-success"><i class="fa-solid fa-hospital-user fa-2xl"></i></a>
                            </td>

                       

                        <td>
                        <a href="/hrdoc" class="btn btn-outline-danger"><i class="fa-regular fa-clock fa-2xl"></i></a>
                    </td>

                    <td>
                      <a href="/hrdoc" class="btn btn-outline-dark"><i class="fa-solid fa-mobile-button fa-2xl"></i></a>
                  </td>

                    </tbody>
                </table>
             
                        </form>
                    </div>
                </div>
            </div>

      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">

                        <form action="/mendr/<%= User %>" method="get">
                            <b><label class="formkit-label" for="input_0"><h5>Pacientes Activos</h5></label></b>
                             <p>
                                <table id = "pacientes" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr class="table-info">
                                            <th>
                                                No. Paciente
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                          
                                            <th>
                                                Edad
                                            </th>

                                            <th>
                                                Diabetico
                                            </th>
                                            <th>
                                                Presion
                                            </th>

                                            <th>
                                                Hipertenso
                                            </th>

                                            <th>
                                                Tipo De Sangre
                                            </th>
                                            
                               
                                            <th>
                                                Detalles Paciente
                                            </th>


                                            <th>
                                                Historial
                                            </th>

                                            
                                            
                                    </thead>
                        </p>

                        <tbody> 
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                            
                                    <td><%= data[i].IDPa %></td>
                                    <td><%= data[i].Noclie %></td>
                                    <td><%= data[i].Cliedad %></td>
                                    <td><%= data[i].clidia %></td>
                                    <td><%= data[i].clipre %></td>
                                    <td><%= data[i].clihipe %></td>
                                    <td><%= data[i].clitipsa %></td>
                                    <td><%= data[i].cliotr %></td>

                                    
                                    
                                    <td>  
                                        <p><a href="/history/<%= data[i].IDPa %>" class="btn btn-outline-info"><i class="fa-solid fa-file-medical fa-2xl"></i></a>
                                        </p>      
                                    </td>

                                    

                                </tr>
                                <% } %>
                                <% } %>
                                    </tbody>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>


<script>
var table = new DataTable('#pacientes', {
    pageLength: 5,
    lengthMenu: [[5, 10, 20], [5, 10, 20]],
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
    },
})
</script>

  </body>
</html>