<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Principal</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/prods"><h1><font color="white">MED</font></h1></a>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

              <li class="nav-item">
                <a class="nav-link"><font color="white"></font></a>
              </li>
              
            <li class="nav-item">
              <a class="nav-link"><font color="white"></font></a>
            </li>

          <li class="nav-item">
            <a class="nav-link"><font color="white"></font></a>
          </li>
                <li class="nav-item">
                  <a class="nav-link"><font color="white"></font></a>
                </li>

                
                <li class="nav-item">
                  <a class="nav-link"><font color="white"></font></a>
                </li>                 
                  
                  
                
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li> 
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">

                        <form action="/orderpayesp" method="get">
                            <b><label class="formkit-label" for="input_0"><h5>Consultas Por Pagar Especialistas</h5></label></b>
                             <p>
                                <table id = "pacientes" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr class="table-info">
                                            <th>
                                                No. Paciente
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Fecha Consulta
                                            </th>
                                            <th>
                                                Hora Consulta
                                            </th>
                                            <th>
                                                Realizar Pago
                                            </th>
                                            <th>
                                                Finalizar Consulta
                                            </th>
                                                 
                                    </thead>
                        </p>

                        <tbody> 
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                            
                                    <td><%= data[i].IDPa %></td>
                                    <td><%= data[i].Nocli %></td>
                                    <td><%= data[i].Fecconsul %></td>
                                    <td><%= data[i].clihour %></td>

                                    <td>  
                                        <stripe-buy-button
  buy-button-id="buy_btn_1NoMO9JNkXDc99lCqBXe3kZU"
  publishable-key="pk_test_51NoKp9JNkXDc99lC1m54WmExgIpseA3nK3ni0yrgQhX7lFvkJVhHL3phuKf5kKFnA3IV9USX7NUKtd3iHFmFJVba00T2SbAuVi"
>
</stripe-buy-button>
                                      </stripe-buy-button>
                                    </td>  
                                    
                                    <td>  
                                        <p><a href="/fnconsulsecre/<%= data[i].Idcon %>" class="btn btn-outline-success"><i class="fa-solid fa-check-double fa-2xl"></i></a>
                                        </p>      
                                    </td>

                                </tr>
                                <% } %>
                                <% } %>
                                    </tbody>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>


<script>
var table = new DataTable('#pacientes', {
    pageLength: 5,
    lengthMenu: [[5, 10, 20], [5, 10, 20]],
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
    },
})
</script>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

  </body>
</html>