<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">

    <title>MED | Principal</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1><font color="white">MED</font></h1></a>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

               

              <li class="nav-item">
                    
                <a href="/prods" class="btn btn-outline-dark">Inicio</a>
               
            </li>
            
  
            <li class="nav-item">
              <a class="nav-link"><font color="white"></font></a>
            </li>

            <li class="nav-item">
                
                <a href="/ref" class="btn btn-outline-dark">Referidos</a>
               
            </li>
  
            <li class="nav-item">
              <a class="nav-link"><font color="white"></font></a>
            </li>
                  
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  
    
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>
                  
                 

                  <li class="nav-item">
                    <a class="nav-link"><font color="white"></font></a>
                  </li>       

            </ul>
          </div>
        </div>
      </nav>

      
                        <form action="/generali" method="get">
                            
                        </form>


     

      <div class="container mt-5">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-body">

                        <form action="/especialist" method="get">
                            <b><label class="formkit-label" for="input_0"><h5>Registro De Horario</h5></label></b>
                             <p>
                                <table id = "especialistas" class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr class="table-info">
                                            
                                            <th>
                                                Doctor
                                            </th>
                                            <th>
                                                Especialidad
                                            </th>

                                            <th>
                                              Fecha Atencion
                                          </th>
                                            
                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                                Horario
                                            </th>

                                            <th>
                                              Reservar Horario
                                            </th>
                                            
                                            
                                            
                                    </thead>
                        </p>

                        <tbody> 
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                <tr> 
                                    <td><%= data[i].Nuser %></td>
                                    <td><%= data[i].Dresp %></td>
                                    <td><%= data[i].fecaten %></td>
                                    <td><%= data[i].Hdoc1 %></td>
                                    <td><%= data[i].Hdoc2 %></td>
                                    <td><%= data[i].Hdoc3 %></td>
                                    <td><%= data[i].Hdoc4 %></td>
                                    <td><%= data[i].Hdoc5 %></td>
                                    <td><%= data[i].Hdoc6 %></td>
                                    <td><%= data[i].Hdoc7 %></td>
                                    <td><%= data[i].Hdoc8 %></td>
                                    <td><%= data[i].Hdoc9 %></td>
                                    <td><%= data[i].Hdoc10 %></td>
    

                                   
                                    <td>  
                                      <p><a href="/hourgen/<%= data[i].IDH %>" class="btn btn-outline-warning"><i class="fa-solid fa-user-clock fa-2xl"></i></a>
                                      </p>      
                                  </td> 
                                    

                                    

                                </tr>
                                <% } %>
                                <% } %>
                                    </tbody>
                                </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>


<script>
var table = new DataTable('#generales', {
    pageLength: 5,
    lengthMenu: [[5, 10, 20], [5, 10, 20]],
    language: {
        url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
    },
})
</script>

<script>
    var table2 = new DataTable('#especialistas', {
        pageLength: 5,
        lengthMenu: [[5, 10, 20], [5, 10, 20]],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
        },
    })
    </script>

  </body>
</html>